<h1>Login Here!</h1>

<form action="/login" method="POST">
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" value="submit">
</form>

<p>If you haven't signed up yet, <a href="/signup">click here!</a></p>